.ol{
    background-color: pink;
}
.lol{
    color: rgb(206, 7, 73);
    margin-left: 5px;
}
.uy{
    color: rgb(206, 7, 73);
    margin-left: 5px;
    
}
.ko{
    margin: 50px;
}
.ju{
    color:rgba(206, 7, 73, 0.842); ;
    height: 10px;
}
.rt{
    width: 400px;
    height: 100px;
}